.error404{
    background-color: var(--color-fondo);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error404 h2{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.error404 iframe{
    padding-top: 15px;
}

@media(max-width:992px){
    .error404 iframe{
        width: 300px;
    }
}